<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66672594574-3l380uvou6pm10m1umhpk8nrhhf4e6oo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66672594574-3l380uvou6pm10m1umhpk8nrhhf4e6oo</string>
	<key>API_KEY</key>
	<string>AIzaSyDV1yumJpce_d_JJYNZwDXckkoknFxtXJM</string>
	<key>GCM_SENDER_ID</key>
	<string>66672594574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HarrisAslam.Diss2020</string>
	<key>PROJECT_ID</key>
	<string>dissha2020</string>
	<key>STORAGE_BUCKET</key>
	<string>dissha2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66672594574:ios:e264e04413e165a59083df</string>
	<key>DATABASE_URL</key>
	<string>https://dissha2020.firebaseio.com</string>
</dict>
</plist>